/*RESET START*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;

}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input,
textarea,
button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}

/*RESET END*/

/*DEFAULT CLASSES START*/

.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-sp-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}

/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.item{
    background-color: #fff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
            box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.item .item-img{
    margin-bottom: 30px;
    height: 216px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-title,
.item-price{
    font-family: Harmonia_bold;
    font-size: 18px;
}
.item-description{
    padding: 0 40px;
}
.item-title{
    color: #34404b;
    margin: 30px 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.item:hover .item-title{
    color: #ff5912;
}
.item-price{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    color: #34404b;
    font-size: 14px;
    margin-bottom: 29px;
}
.more-info-on-hover .size span:first-child{
    margin-right: 10px;
}
.more-info-on-hover .size span:last-child{
    margin-left: 10px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li +li{
    margin-left: 30px;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.icon-like-ic:hover{
    background-position: -38px -80px;
}
header{
    background-color: #fff;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .top-header .social-nav a + a{
    margin-left: 22px;
}
header .top-header .social-nav a:hover{
    color: #ff5913;
}
.bottom-header .logo{
    padding: 40px 0;
}
.bottom-header .header-nav{
    margin-left: 83px;
}
.bottom-header .header-nav a{
    font-size: 16px;
}
.bottom-header .header-nav a + a{
    margin-left: 40px;
}
.bottom-header .header-nav a:hover{
    color: #ff5913;
}
.bottom-header .user-controls{
    margin-left: auto;
}
.bottom-header .user-controls span + span{
    margin-left: 34px;
}
.bottom-header .user-controls span.icon-search-ic:hover{
    background-position: -81px 0px;
}
.bottom-header .user-controls span.icon-user-ic:hover{
    background-position: 0px -59px;
}
.bottom-header .user-controls span.icon-cart-ic{
    position: relative;
}
.bottom-header .user-controls span.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.bottom-header .user-controls span.icon-cart-ic span{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    font-size: 10px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-110%);
        -ms-transform: translateX(-50%) translateY(-110%);
            transform: translateX(-50%) translateY(-110%);
    text-align: center;
    line-height: 18px;
}
.load-more{
    margin-top: 80px;
    padding: 26px 10px;
    background-color: #fff;
}
span.circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #ff5913;
}
span.circle + span{
    margin-left: 3px;
}
/*DEFAULT COMPONENT END*/

/*ALL STALES START*/

.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center/cover;
    margin-bottom: 60px;
}
.items-carousel .item-carousel-description > span{
    font-family: Harmonia_semibold;
    font-size: 18px;
    line-height: 30px;
    color: #3c4751;
}
.items-carousel .item-carousel-description > p{
    font-size: 16px;
    line-height: 30px;
    color: #495662;
}
.items-carousel .item-carousel-description .price-wrapper{
    margin-top: 45px;
    font-family: Harmonia_semibold;
    font-size: 18px;
    color: #3c4751;
}
.items-carousel .item-carousel-description span.price{
    margin-right: 30px;
}
.items-carousel .item-carousel-description .price-wrapper a > span{
    margin-right: 10px;
}
.items-carousel .item-carousel-description .price-wrapper a:hover{
    color: #ff5912;
}
.items-carousel .item-carousel-description .price-wrapper a:hover span.icon-cart-ic{
    background-position: -20px -59px;
}
.full-set{
    padding: 0 60px;
    background-color: #fff;
}
.full-set .discount{
    position: relative;
}
.full-set .block1,
.full-set .block2{
    display: inline-block;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 50px;
}
.full-set .block1{
    background-color: #ff5912;
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    z-index: 8;
}
.full-set .block2{
    background-color: #ff9060;
    -webkit-transform: rotate(125deg);
        -ms-transform: rotate(125deg);
            transform: rotate(125deg);
}
.full-set .discount-title{
    position: absolute;
    color: #fff;
    font-family: Harmonia_italic;
    font-size: 12px;
    z-index: 11;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(75%) translateY(40%);
        -ms-transform: translateX(75%) translateY(40%);
            transform: translateX(75%) translateY(40%);
}
.full-set .discount-percent{
    position: absolute;
    color: #fff;
    font-family: Harmonia_black;
    font-size: 18px;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(31%) translateY(115%);
        -ms-transform: translateX(31%) translateY(115%);
            transform: translateX(31%) translateY(115%);
}
/*ALL STALES END*/