/*RESET START*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;

}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input,
textarea,
button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
label{
    margin-bottom: 0;
}

/*RESET END*/

/*DEFAULT CLASSES START*/

.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-sp-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.fa-star{
    color: #e9ecf3;
}
.fa-star.active{
    color: #f55d44;
}
.btn{
    font-family: Harmonia_semibold;
    font-size: 14px;
    color: #fff;
    padding: 20px 30px;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.btn:active:focus,
.btn:focus{
    outline: none;
}
.btn.btn-default{
    background-color: #ff5912;
}
.btn.btn-default:hover{
    color: #fff;
    background-color: #d64b12;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.checkbox-group + .checkbox-group{
    margin-top: 40px;
}
.checkbox-group input[type="checkbox"]{
    display: none;
}
.checkbox-group label{
    font-family: Harmonia_semibold;
    font-size: 16px;
    /*line-height: 50px;*/
    color: #34404b;
    cursor: pointer;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label:before{
    border-color: #ff5912;
}
.radio-group +.radio-group{
    margin-top: 40px;
}
.radio-group input[type="radio"]{
    display: none;
}
.radio-group label{
    font-family: Harmonia_semibold;
    font-size: 16px;
    /*line-height: 50px;*/
    color: #34404b;
    cursor: pointer;
}
.radio-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.radio-group input[type="radio"]:checked + label{
    color: #ff5912;
}
.radio-group input[type="radio"]:checked + label:before{
    border-color: #ff5912;
}
header{
    background-color: #fff;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .top-header .social-nav a + a{
    margin-left: 22px;
}
header .top-header .social-nav a:hover{
    color: #ff5913;
}
.bottom-header{
    padding: 40px 0;
}
.bottom-header .header-nav{
    margin-left: 83px;
}
.bottom-header .header-nav a{
    font-size: 16px;
}
.bottom-header .header-nav a + a{
    margin-left: 40px;
}
.bottom-header .header-nav a:hover{
    color: #ff5913;
}
.bottom-header .user-controls{
    margin-left: auto;
}
.bottom-header .user-controls li{
    cursor: pointer;
}
.bottom-header .user-controls li + li{
    margin-left: 34px;
}
.bottom-header .user-controls li.icon-search-ic:hover{
    background-position: -81px 0px;
}
.bottom-header .user-controls li.icon-user-ic:hover{
    background-position: 0px -59px;
}
.bottom-header .user-controls li.icon-cart-ic{
    position: relative;
}
.bottom-header .user-controls li.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.bottom-header .user-controls li.icon-cart-ic span{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    font-size: 10px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-110%);
        -ms-transform: translateX(-50%) translateY(-110%);
            transform: translateX(-50%) translateY(-110%);
    text-align: center;
    line-height: 18px;
}
.load-more{
    margin-top: 80px;
    padding: 26px 10px;
    background-color: #fff;
}
span.circle{
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #ff5913;
}
span.circle + span{
    margin-left: 3px;
}
.item{
    background-color: #fff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
            box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.item .item-img{
    margin-bottom: 30px;
    height: 216px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-title,
.item-price{
    font-family: Harmonia_bold;
    font-size: 18px;
}
.item-description{
    padding: 0 40px;
}
.item-title{
    color: #34404b;
    margin: 30px 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.item:hover .item-title{
    color: #ff5912;
}
.item-price{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    color: #34404b;
    font-size: 14px;
    margin-bottom: 29px;
}
.more-info-on-hover .size span:first-child{
    margin-right: 10px;
}
.more-info-on-hover .size span:last-child{
    margin-left: 10px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li +li{
    margin-left: 30px;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.icon-like-ic:hover{
    background-position: -38px -80px;
}

/*SUBSCRIBE*/
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    font-size: 14px;
    font-family: Harmonia_italic;
    min-width: 255px;
}
.subscribe .subscribe-description span:first-child{
    font-family: Harmonia_bold;
    font-size: 18px;
    margin-right: 24px;
}
.subscribe .subscribe-description span:last-child{
    font-family: Harmonia_italic;
    font-size: 14px;
    color: #34404b;
}
footer{
    padding: 90px 0;
}
footer section{
    margin-top: 60px;
}
.footer-content .footer-logo a img{
    margin-bottom: 15px;
}
.footer-content .footer-text > span{
    font-size: 14px;
    color: #28313b;
    line-height: 30px;
}
.footer-content .footer-nav-list li{
    font-size: 14px;
    color: #28313b;
    cursor: pointer;
}
.footer-content .footer-nav-list li + li{
    margin-top: 20px;
}
.footer-content .footer-nav-list li:before{
    content: '';
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #28313b;
}
.footer-content .footer-nav-list li:hover{
    color: #ff5912;
}
.footer-content .footer-nav-list li:hover:before{
    background-color: #ff5912;
}
.footer-content .payment-methods-title{
    font-family: Harmonia_semibold;
    font-size: 16px;
    color: #ff5912;
    margin-bottom: 20px;
}
.footer-content .payment-methods .payment-methods-list li{
    display: inline-block;
}
.footer-content .payment-methods .payment-methods-list li + li{
    margin-left: 6px;
}
/*DEFAULT COMPONENT END*/

/*ALL STALES START*/

        /*ITEM CAROUSEL*/
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center/cover;
    margin-bottom: 60px;
}
.items-carousel .item-carousel-description > span{
    font-family: Harmonia_semibold;
    font-size: 18px;
    line-height: 30px;
    color: #3c4751;
}
.items-carousel .item-carousel-description > p{
    font-size: 16px;
    line-height: 30px;
    color: #495662;
}
.items-carousel .item-carousel-description .price-wrapper{
    margin-top: 45px;
    font-family: Harmonia_semibold;
    font-size: 18px;
    color: #3c4751;
}
.items-carousel .item-carousel-description span.price{
    margin-right: 30px;
}
.items-carousel .item-carousel-description .price-wrapper a > span{
    margin-right: 10px;
}
.items-carousel .item-carousel-description .price-wrapper a:hover{
    color: #ff5912;
}
.items-carousel .item-carousel-description .price-wrapper a:hover span.icon-cart-ic{
    background-position: -20px -59px;
}

        /*KIT*/
.kit{
    padding: 20px 60px;
}
.sales-block{
    position: relative;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.sales-block div:last-child{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block .orange-bg .orange-bg-content{
    color: #fff;
    padding: 13px 5px;
    /*transform: rotate(45deg);*/
}
.sales-block .orange-bg span:first-child{
    font-family: 'Harmonia_italic';
    padding-left: 6px;
}
.sales-block .orange-bg span:last-child{
    font-family: 'Harmonia_black';
    font-size: 18px;
}
.kit .sales-content .sales-title{
    font-family: 'Harmonia_black';
    font-size: 22px;
    color: #34404b;
    margin-bottom: 10px;
}
.kit .sales-content > span{
    color: #495662;
}
.kit .sales-price{
    font-family: 'Harmonia_black';
    font-size: 32px;
}
.kit .sales-price span{
    margin-right: 20px;
}
.adv-area{
    padding: 32px 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.adv-area .adv-area-content .adv-area-title{
    font-size: 16px;
    margin-bottom: 10px;
}
.adv-area .adv-area-content > span{
    letter-spacing: .6em;
    color: rgba(52,64,75,.4);
}

        /*BEST SALES*/
.sale{
    padding: 35px 30px;
    position: relative;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sale:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
            box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.sale .sale-content{
    border-left: 1px solid #f5f5f6;
    padding-left: 29px;
}
.sale .sale-content-title{
    font-family: Harmonia_bold;
    display: block;
    font-size: 18px;
    color: #34404b;
    margin-top: -8px;
    margin-bottom: 30px;
}
.sale .sale-character{
    font-size: 16px;
}
.sale:hover .sale-character{
    opacity: 0;
    z-index: -1;
}
.sale .sale-character span:last-child{
    font-family: Harmonia_bold;
}
.sale-character-on-hover{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    opacity: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%;
    padding-left: 121px;
}
.sale:hover .sale-character-on-hover{
    opacity: 1;
}
.sale-character-on-hover span{
    margin-right: 10px;
}
.category-wrap{
    padding-top: 120px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: Harmonia_black;
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.category-wrap .load-more{
    margin-top: 0;
    margin-bottom: 60px;
    padding: 26px 10px;
    background-color: #fff;
}
.category-wrap .categories-list li{
    font-family: Harmonia_semibold;
    font-size: 16px;
    /*line-height: 50px;*/
    color: #34404b;
}
.category-wrap .categories-list li + li{
    margin-top: 40px;
}
.category-wrap .categories-list li:hover{
    color: #ff5912;
}
.product-wrap{
    padding: 100px 125px;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-size: 14px;
    font-family: Harmonia_semibold;
}
/*ALL STALES END*/